<h1 class="center">Add a Song</h1>
<div class="container">
  <div class="row">
    <%= form_for [@billboard, @song] do |f| %>
      <div class="col m6">
        <%= f.label :title %>
        <%= f.text_field :title, required: true %>
      </div>
      <div class="col m6">
        <%= f.label :genre %>
        <%= f.text_field :genre, required: true %>
      </div>
      <div class="col m6">
        <%= f.label :rank %>
        <%= f.text_field :rank %>
      </div>
      <%= f.submit class: "btn black white-text" %>
    <% end %>
  </div>
</div>
